<section class="">
  <div
    class="flex flex-col items-center justify-center h-screen px-6 py-8 mx-auto lg:py-0"
  >
    <div
      class="w-full bg-black rounded-lg shadow-md bg-opacity-70 md:mt-0 sm:max-w-xl xl:p-0"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <form
          #form="ngForm"
          class="space-y-4 md:space-y-6"
          (ngSubmit)="register(form)"
        >
          <h3
            class="text-3xl font-bold tracking-tighter text-center text-orange-600 transition duration-500 ease-in-out transform tracking-relaxed"
          >
            Formulario de registro
          </h3>
          <div class="grid gap-3 md:grid-cols-2">
            <div>
              <label
                for="names"
                class="block mb-2 font-medium text-white text-md"
                >Nombres</label
              >
              <input
                required=""
                id="names"
                name="names"
                type="text"
                [(ngModel)]="user.names"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                placeholder="Nombres"
                required=""
              />
            </div>
            <div>
              <label
                for="lastnames"
                class="block mb-2 font-medium text-white text-md"
                >Apellidos</label
              >
              <input
                id="lastnames"
                name="lastnames"
                type="text"
                [(ngModel)]="user.lastnames"
                placeholder="Apellidos"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
                required=""
              />
            </div>
          </div>
          <div>
            <label for="email" class="block mb-2 font-medium text-white text-md"
              >Email</label
            >
            <input
              id="email"
              name="email"
              type="email"
              [(ngModel)]="user.email"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
              placeholder="user@gmail.com"
              required=""
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 font-medium text-white text-md"
              >Password</label
            >
            <input
              id="password"
              name="password"
              type="password"
              [(ngModel)]="user.password"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
              required=""
            />
          </div>
          <button
            type="submit"
            class="w-full text-white bg-orange-600 hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-md px-5 py-2.5 text-center"
          >
            Registrar
          </button>
          <p class="text-white text-md">
            ¿Ya tienes una cuenta?
            <a
              [routerLink]="['/autenticacion/login']"
              class="font-bold text-white hover:underline"
              >Login</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
